.wrapper {
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  padding: 2rem;
  box-sizing: border-box;
  background-color: rgb(24, 24, 24);

  a.active {
    text-decoration: none;
    font-weight: 300;
    color: white;
    &.active {
      font-weight: 900;
    }
  }

  .logo {
    height: 100%;
    object-fit: contain;
    height: 3rem;
    margin-right: auto;
  }
}
