.p-rating-cancel-item {
  display: none !important;
}

input.ng-invalid {
  border-color: red !important;
}

.p-button-danger {
  background-color: rgb(179, 115, 98) !important;
  color: white;
  border: none;
}

.p-button-help {
  background-color: rgb(47, 59, 69);
  color: white;
  border: none;
}

.p-paginator {
  border: none !important;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: black;

  .p-highlight {
    border-radius: 10px;
    background-color: rgb(249, 247, 247);
  }
}

.p-dialog {
  border-radius: 10px;
  padding: 1rem;
  background-color: black;
  .p-dialog-header {
    background-color: black;
    padding: 1rem;
  }
  .p-dialog-footer {
    border-top: none;
    padding: 1rem;
    background-color: black;
  }

  .p-button {
    margin: 0 !important;
    border-radius: 10px;
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }

  .ng-trigger {
    box-shadow: 0 0 10px 2.5px rgba(247, 247, 247, 0.4) !important;
  }
}

.p-inputtext {
  .p-element {
    border-color: none !important;
  }
}
