.product {
  width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .product__button {
    border-radius: 10px;
  }

  .product__img {
    aspect-ratio: 1/0.5;
    width: 100%;
    object-fit: contain;
    border-radius: 15px;
  }

  .product__title {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .product__price-label {
    font-size: 1rem;
    font-weight: 300;
  }

  .product__price {
    font-weight: 500;
    font-size: 1rem;
  }
}
