<div class="row justify-center">
  <div class="column gap-1 wrapper align-center">
    <!-- Product Thumbnail -->
    <img [src]="product.image" alt="Product Thumbnail" />

    <!-- Product Name -->
    <h2 class="title">{{ product.name | truncateName : 16 : "..." }}</h2>

    <!-- Product Price -->
    <div class="row gap-05 justify-center">
      <span class="price-label">Price:</span>
      <span class="price">{{ product.price | price }}</span>
    </div>

    <!-- Product Rating (PrimeNg rating component) -->
    <p-rating
      [(ngModel)]="product.rating"
      [readonly]="true"
      iconCancelClass="hidden"
    ></p-rating>

    <!-- Action buttons -->
    <div class="row gap-05 justify-center mb-25">
      <button
        type="button"
        pButton
        icon="pi pi-pencil"
        (click)="editProduct()"
        label="Edit"
        class="p-button-help button"
      ></button>
      <button
        type="button"
        pButton
        icon="pi pi-trash"
        (click)="confirmDelete()"
        label="Delete"
        class="p-button-danger button"
        #deleteButton
      ></button>
    </div>
  </div>
</div>

<p-confirmPopup></p-confirmPopup>
