<div class="column gap-1">
  <!-- Add Product Button -->
  <button
    type="button"
    pButton
    (click)="toggleAddPopup()"
    label="+"
    class="add-product-btn"
  ></button>

  <!-- Products Section -->

  <div *ngIf="!products || products.length === 0" class="loading">
    <!-- Loading Indicator -->

    <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
    <p class="text-center">
      Be patient, the server is hosted on onRender Free. Soon the sneakers will
      appear!
    </p>
  </div>
  <div class="row wrap gap-2 justify-center">
    <app-product
      *ngFor="let product of products"
      [product]="product"
      (edit)="toggleEditPopup($event)"
      (delete)="toggleDeletePopup($event)"
    ></app-product>
  </div>

  <!-- Paginator -->
  <p-paginator
    [rows]="rows"
    [totalRecords]="totalRecords"
    (onPageChange)="onPageChange($event)"
    #paginator
  ></p-paginator>
</div>

<!-- Edit Product -->
<app-edit-popup
  [product]="selectedProduct"
  [(display)]="displayEditPopup"
  (confirm)="onConfirmEdit($event)"
  header="Edit Product"
></app-edit-popup>

<!-- Add Product -->
<app-edit-popup
  [(display)]="displayAddPopup"
  (confirm)="onConfirmAdd($event)"
  header="Add Product"
></app-edit-popup>
